
/* social bashlayir */

.social_content{
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    margin-left: -10px;
    margin-right: -10px;
}
.social_content_item{
    flex: 0 0 25%;
    margin-bottom: 25px;
    border-radius: 6px;
}
.social_content_item_body{
    padding: 0px 10px;
}
.social_content_item_body_img{
    background-color: #CBCBCB;
    height: 230px;
    position: relative;
    font-size: 14px;
    line-height: 19px;
    color: #ffffff;
    border-radius: 6px;
}

.facebook_icon{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #475993;
    color: #FFFFFF;
    padding: 5px 3px 0px 10px;
    font-size: 27px;
    border-radius: 4px;
}
.social_content_item_body_desc{
    background-color: #F8F8F8;
    padding: 18px;
    color: #4B4545;

}
.social_content_item_body_desc b{
    font-size: 16px;
    line-height: 19px;

}
.social_content_item_body_desc p{
    font-size: 14px;
    line-height: 19px;

}
.instagram_bg{
    background-color: #F5F5F5;
    color: #4B4545;
    height: 319px;
}
.twitter_bg{
    background-color: #9B9B9B;
    height: 170px;
    border: 1px solid #707070;
}
.instagram_icon{
    background-image: linear-gradient(to right , #E09B3D , #C74C4D , #C21975 , #7024C4);
    font-size: 30px;
    color: #FFFFFF;
    border-radius: 4px;
    position: absolute;
    top: 15px;
    right: 15px;
}
.twitter_bg b{
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    
}
.twitter_icon{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #55ACEE;
    color: #FFFFFF;
    padding: 8px;
    font-size: 15px;
    border-radius: 50%;
}

.more_service{
    padding-bottom: 55px;
}
.load_btn {
    background-color: #F8F8F8;
    opacity: 100%;
    display: block;
    line-height: 16px;
    font-size: 12px;
    width: 100%;
    color: #4B4545;
    opacity: 100%;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}
/* social qurtarir */






/* news video bashlayir */

.news_video{
    background-image: url(./img/bg-video.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.news_video_header {
    padding: 35px 0px 24px 0px;
    color: #FFFFFF;
    opacity: 100%;
}
.news_video_header--head{
    padding-bottom: 10px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}
.news_video_header--subtitle{
    font-size: 24px;
    font-weight: lighter;
    line-height: 32px;
}
.news_video_content{
    display: flex;
    padding-bottom: 53px;
    margin-right: -12px;
    margin-left: -12px;
}
.news_video_content_item {
    flex: 0 0 33.3%;
}
.news_video_content_item_body{
    background-color: #FFFFFF;
    opacity: 100%;
    position: relative;
    margin: 0px 12px;
}

.play{
    background-color: #FFFFFF;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 15px;
}
.play_icon{
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid #4B4545;
    border-bottom: 10px solid transparent;
}
.news_video_content_item_body--video{
    background-color: #EEEEEE;
    color: #4B4545;
    font-size: 22px;
    line-height: 30px;
    font-weight: bold;
    width: 100%;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news_video_content_item_body--title h3{
    color: #4B4545;
    font-size: 18px;
    margin: 10px;
    line-height: 24px;
    font-weight: bold;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.news_video_content__item_body--date{
    padding: 10px;
}
.news_video_content__item_body--date small{
    font-size: 12px;
    line-height: 16px;
    padding-left: 10px;
    font-weight: bold;
    color: #8B7736;
    opacity: 100%;
    border-left: 3px solid #8B7736;
}


/* news vidoe qurtarir */